<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm1zPTy53ae01XOYr-wws-UrsRwv--NOg</string>
	<key>GCM_SENDER_ID</key>
	<string>676741507834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minimalChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapptute-7739f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptute-7739f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676741507834:ios:e112d3af60332064923743</string>
</dict>
</plist>